// * {
//   margin: 0;
//   padding: 0;
// }

// Pages
// This Thing! USE WITH CAUTION
// font-size: 1vw;
body {
  // overflow-x: hidden;
  // overflow-y: auto;
  // scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;
}

[block-touch-scrolling] * {
  touch-action: none;
}

// .horizontal-scroll {
//   overflow-y: hidden;
//   overflow-x: auto;
// }

// .vertical-scroll {
//   overflow-y: auto;
//   overflow-x: hidden;
// }

a[not-clickable] {
  pointer-events: none;
}

// Course Listing

#listing {
  display: none;
  padding-bottom: 2em;
}

[current-route="listing"] #listing {
  display: block;
}

.title {
  margin: 1em auto 0;
  font-weight: 900;
  font-size: calc(1em + 1vw);
}
.subtitle {
  width: 80%;
  margin: 0 auto;
  color: var(--silver);
  font-size: calc(0.6em + 1vw);
}

.course {
  margin: calc(1.5em + 1vw) auto 0;
  width: calc(10em + 30vw);
  background-color: var(--bg-d);
  border-radius: calc(0.5em + 0.5vw);
  box-shadow:  -11px 11px 35px var(--bg-xd),
             11px -11px 35px var(--bg-l);
  overflow: hidden;
}

.course-title {
  padding: 0.5em 0;
  margin: 0 5%;

  line-height: 1;
  word-wrap: break-word;
  font-weight: 900;
  font-size: calc(1em + 1vw);
}
.text-grid-container {
  display: grid;
  grid-template-columns: auto auto;

  text-align: center;
  input[type=text] {
    grid-area: 1 / 1 / 2 / 3;
    grid-template-columns: auto auto;

    text-align: center;
    color: var(--mist);
    margin: 0.5em 10%;



    font-weight: 900;
    font-size: calc(1em + 1vw);
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid white;
    outline: none;

  }
  input[type=text]::placeholder {
    color: var(--silver);
  }
}


.course-button {
  display: inline-block;
  width: calc(35% + 1vw);

  margin-bottom: -1.25em;
  padding: 0.5em 1em;
  border-radius: 0.4em;

  text-decoration: none;
  cursor: pointer;

  font-weight: 900;
  font-size: calc(0.7em + 1vw);
}
.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--bg-xl);
}

.course-bottom {
  display: flex;

  justify-content: space-between;
  background-color: var(--bg-xd);
  padding: calc(1em + 1.5vw) 1.5em calc(0.3125em + 1vw);

  font-weight: 700;
}

.left-meta, .right-meta {
  flex: 0 1 auto;
  font-size: calc(0.6em + 1vw);
}
.left-meta {
  text-align: left;
  color: #ffb900;
}
.right-meta {
  text-align: right;
  color: #e2e2e2;
}

// Course View

#course-view {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

[current-route="course"] #course-view {
  display: flex;
}

.course-title-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: calc(4em + 2vw);
  top: var(--header-height);
  padding: 0 1em;

  background: var(--navy);
  border-bottom: 0.5em solid var(--navy-dark);
}

.course-view-title {
  flex: 1 1 100%;

  width: 0;
  margin: 0 1em;
  padding: clamp(0.25em, 0.1em + 2vw, 0.4em);
  border: none;
  border-radius: 0.5em;
  overflow: hidden;

  outline: none;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 900;
  font-size: calc(1em + 1vw);

  background-color: transparent;
  color: white;
  transition: background-color 1s;
  &:focus {
    background-color: var(--navy-dark);
  }
  &[readonly] {
    background-color: transparent;
  }
  &:not([readonly]) {
    background-color: var(--navy-dark);
  }
}

.back-to-courses {
  flex: 0 0 10rem;

  pointer-events: auto;
  cursor: pointer;
  user-select: none;

  text-align: left;
  font-size: calc(0.75em + 1vw);
  font-weight: 900;
  svg {
    display: inline-block;
  }
}


.course-admin-buttons {
  flex: 0 0 10rem;
  display: flex;
  justify-content: space-between;
  .admin-button {
    padding: 0.4em 1em;

    text-decoration: none;
    cursor: pointer;

    outline: 0;
    border-radius: 4px;
  }
}


.scroller {
  // flex: 1 1 100%;
  position: relative;
  overflow-x: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, calc(13em + 20vw));
  grid-template-rows: 0.25fr 0.75fr;

  grid-column-gap: 10px;
  grid-row-gap: 25px;
  // background-color: #ffb900;

  // scroll-behavior: smooth;

  align-items: flex-start;
  // justify-content: center;

  padding: 0 3em 0 3em;
  height: 100%;
  transition: transform 1s ease;
}

[reorder-course-mode] .scroller {
  transform: scale(.75)
}

[scroll-snapping] {
  scroll-snap-type: x mandatory;
}

.upper-row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: flex-end;
  

  margin: 0 1em 0 1em;

  z-index: 12;
  // transition: all 1s;
  &.dragging {
    transition: none;
    // scroll-snap-align: none;
  }
}

.lower-row {
  position: relative;
  display: flex;
  // flex-direction: row;
  
  // grid-template-columns: 0.25fr 0.75fr;
  // width: calc(13em + 20vw);
  // // margin-top: clamp(4em, 2em + 5vw, 6em);
  // height: auto;
  // // max-height: 100%;
  // vertical-align: baseline;
  // align-self: start;
  // background-color: var(--bg-d);
  // border: var(--bg-xd) calc(0.1em + 0.2vw) solid;
  // border-radius: calc(0.9em + 1vw);
  // user-select: none;
  // z-index: -20;
  // transition: background 1s, border 1s;

  // &.transparent {
  //   background-color: transparent;
  //   border: transparent calc(0.1em + 0.2vw) solid;
  //   user-select: none;
  // }
}
.item-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  scroll-snap-align: center;
}
.item-header {
  position: relative;
  width: auto;
  font-size: calc(1em + 1vw);
  margin-top: calc(0.5em + 1vw);

  text-align: center;
  user-select: all;
}

.item-subheader {
  width: 100%;
  font-size: calc(1em + 1vw);

  text-align: center;
  color: var(--silver);
  user-select: none;
}

.no-stuff-header {
  color: var(--bg-xd);
}

.item-bundle {
  display: flex;
  flex: 0 0 calc(18em + 20vw);

}

.item-card {
  height: auto;
  margin: 0 1em;
  vertical-align: baseline;
  align-self: start;
  background-color: var(--bg-d);
  border: var(--bg-xd) calc(0.1em + 0.2vw) solid;
  border-radius: calc(0.9em + 1vw);
  user-select: none;
  z-index: -20;
  transition: background 1s, border 1s;

  // &.transparent {
  //   background-color: transparent;
  //   border: transparent calc(0.1em + 0.2vw) solid;
  //   user-select: none;
  // }
}

.course-view-icon.icon {
  position: relative;
  width: calc(6em + 4vw);
  height: calc(6em + 4vw);

  top: calc(((-6em - 4vw)/2));
  // left: 50%;
  margin: 0 auto;
  // transform: translate(-50%, -50%);
  transform-origin: center center;

  border: 0.5em var(--bg-xd) solid;
  background-color: #E9EAED;
  border-radius: 50%;
  z-index: 9999;
  overflow: hidden;
  user-select: none;

  img {
      position: relative;
      width: calc(80% + 1vw);

      top: 50%;
      justify-content: center;
      align-self: center;
      transform-origin: center center;
      transform: translateY(-50%) scale(1.75, 1.75);

      z-index: 20;
      border-radius: 50%;

      cursor: pointer;
      transition: all 0.7s;
  }
  &:hover {
    img {
      width: 100%
    }
  }
}

.course-view-icon.screenshot {
  position: relative;
  // width: 5%;
  height: calc(6em + 4vw);

  // left: 50%;
  // transform: translateX(-50%);
  margin: 0 auto;
  transform-origin: center center;


  border-radius: 50%;
  user-select: none;

  // pointer-events: none;
  img {
      position: relative;
      height: 90%;

      // transform: translate(-50%, -50%);


      justify-content: center;
      align-self: center;
      transform-origin: center center;

      border-radius: 1em;
      transition: all 0.7s;
      cursor: pointer;
  }
  &:hover {
    img {
      height: 100%
    }
  }
}

.field-label {
  position: relative;

  margin: calc(3.75em + 0.5vw) calc(0.25em + 1vw) 0 calc(0.25em + 1vw);
  padding: calc(0.5em + 0.5vw) calc(0.5em + 0.5vw) calc(0.1em + 0.1vw) calc(0.5em + 0.5vw);
  // min-height: 1em;
  // max-height: clamp(12em ,6em + 7vw, 18em);
  align-self: start;
  justify-self: left;

  border-radius: 1em;
  line-height: 100%;

  box-sizing: border-box;

  resize: none;

  font-size: calc(0.8em + 0.5vw);
  font-weight: 900;
  word-wrap: break-word;
  text-align: left;
}

.field-text {
  position: relative;
  // vertical-align: top;
  box-sizing: padding-box;
  width: 90%;
  // height:auto;
  // calc(3.75em + 0.5vw)
  margin: 0 calc(0.25em + 1vw) calc(0.25em + 1vw) calc(0.25em + 1vw);
  padding: calc(0.5em + 0.5vw);

  border-radius: 1em;
  line-height: 100%;
  overflow-y: hidden;
  // box-sizing: border-box;

  resize: none;

  pointer-events: auto;
  user-select: all;
  font-size: calc(0.8em + 0.5vw);
  word-wrap: break-word;
  text-align: left;

  color: white;
  background-color: transparent;
  border: transparent;
  transition: background-color 1s;
  &:focus {
    background-color: transparent;
    // outline-color: var(--bg-xd);
    outline: none !important;
    // border: 0.25em solid var(--bg-xd);
  }
  &[readonly] {
    background-color: transparent;
  }
  &:not([readonly]) {
    background-color: var(--bg-xd);
    user-select: none;
  }
}

#timeline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -21;
  user-select: none;
  height: calc(100%);
  min-width: 100%;
  overflow: visible;
}

[edit-course-mode] .delete-material-button {
  display: inline-block;
}

.delete-material-button {
  width: 7em;
  position: absolute;
  display: none;
  // z-index: -20;
  left: calc(50% - 3.5em);
  // top: 210px;
  top: calc(100%);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 0 0 0.5em 0.5em;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 1em;
  background-color: var(--bg-xd);
  pointer-events: auto;
  user-select: none;
}

[edit-course-mode] .add-material-container {
  // display: flex
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.add-material-container {
  position: relative;
  
  height: 100%;

  z-index: 1000;
  transform-origin: center center;

  // pointer-events: none;
  margin: 0 auto;
  
  .add-material {
    position: relative;
    width: calc(3em + 3vw);
    height: calc(3em + 3vw);
    top: calc((-3em - 3vw)/2);
    
    border-radius: 50%;
    // align-self: flex-start;
    
    z-index: 1000;
    transform-origin: center center;

    background-color: #2A3D81;
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.75);
    text-align: center;
    cursor: pointer;
    user-select: none;

    .add-material-inner {
      position: relative;

      width: 77%;
      height: 77%;
      top: 50%;

      margin: 0 auto;

      transform: translateY(-50%);
      transform-origin: center center;
      
      background-color: #1C325E;
      border-radius: 50%;
      
      font-size: calc(2em + 3vw);
      transition: all 0.3s ease-in-out;
      .add-material-link {
        text-align: center;
        margin: 0 auto;
        line-height: 85%;
        color: white;
        text-decoration: none;
      }
    }
  }
  .add-material:hover {
    .add-material-inner {
      width: 85%;
      height: 85%;
      // a {
      //   // line-height: 89%;

      // }
    }
  }
}

@media (max-width: 768px) {
  .add-material-container {
    display: none;
  }
  .course-admin-buttons{
    display: none;
  }
  .back-to-courses {
    flex: 0 0 auto;
  }
}
