* {
  margin: 0;
  padding: 0;
}
// Pages
body {
  position: relative;
  // This Thing! USE WITH CAUTION
  // font-size: 1vw;
}

.horizontal-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}

.vertical-scroll {
  overflow-y: visible;
  overflow-x: hidden;
}

a[not-clickable] {
  pointer-events: none;
}

#course-listing {
  position: absolute;

  top: 48px;
  left: 0;  
  width: 100%;

  opacity: 1;
}

#lunchbox-sessions-courses {
  position: relative;
}

.title {
  margin-top: 1em;
  text-align: center;
  font-weight: 900;
}
.subtitle {
  text-align: center;
  color: hsl(220, 15%, 80%);
  font-size: 1em;
}

// Course
.course-container {
  width: 50%;
  max-width: 80%;
  margin: 2em auto;
}

.new {
  position: relative;
}

.course {
  width: auto;
  margin: 2em auto 0em auto;
  background-color: var(--bg-d);
  border-radius: 1em;

  // background: linear-gradient(225deg, #324485, #3c519e);
  // box-shadow:  -25px 25px 50px #30417e,
  //            25px -25px 50px #4057aa;
  // background: var(--bg-d);
  box-shadow:  -11px 11px 35px var(--bg-xd),
             11px -11px 35px var(--bg-l);
  &.short {
    border-bottom: 3em solid var(--bg-xd);
    z-index: -1000;
  }

  &.tall {
    border-bottom: 4em solid var(--bg-xd);
  }
}

.course-title {
  width: 90%;

  padding: 0.5em 0 1.5em 0;
  margin: 0 auto;

  line-height: 100%;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 1.5em;

  user-select: none;
}
.text-grid-container {
  display: grid;
  grid-template-columns: auto auto;

  text-align: center;
}

input[type=text] {
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: auto auto;

  text-align: center;
  color: var(--mist);
  width: 90%;


  font-weight: 900;
  font-size: 1.5em;
  background-color: transparent;
  margin: 0.5em auto 1.3em auto;
  border: 0;
  border-bottom: 0.2em solid white;
  outline: none;
  
}
input[type=text]::placeholder {
  color: var(--silver);
}
.course-buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.course-button {
  position: absolute;
  width: 7em;

  margin: 1em auto;
  left: calc(50% - 3.5em);
  padding: 0.5em 1em;
  border-radius: 7px;

  align-self: center;
  text-align: center;
  text-decoration: none;
  line-height: 100%;
  color: white;
  cursor: pointer;

  font-weight: 800;
  font-size: 1.25em;
}
.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--bg-xl);
}

.course-bottom {
  position: relative;
  display: flex;

  justify-content: space-between;
  text-align: center;
  
  top: 2.2em;
  color: white;
  font-weight: 700;
}

.left-meta, .right-meta {
  display: inline-block;
  flex: 0 1 auto;

  margin: -1.8em 1.5em;
  overflow: hidden;

  line-height: 100%;
  font-size: var(--small);

  user-select: none;

  p {
    margin: 1em 0;
  }

}
.left-meta {
  overflow: hidden;

  text-align: left;
  color: #ffb900;
}
.right-meta {
  overflow: hidden;

  text-align: right;
  color: #e2e2e2;
}

// Course View
#course-view {
  display: none;
  height: 100%;
  margin: auto auto;
}
.course-title-container {
  position: fixed;
  display: flex;
  width: 75%;
  left: calc(25%/2);
  height: 7em;
  margin: auto auto;
}
.course-title-background {
  position: fixed;

  width: 100%;
  height: 7em;
  top: var(--header-height);

  background: var(--navy);
  border-bottom: 0.5em solid var(--navy-dark);
}
.course-view-title {
  display: inline-block;
  position: relative;

  width: auto;
  max-width: 100%;
  // top: calc(var(--header-height) + 1em);
  margin: auto auto;
  padding: 0.5em 0.5em 0.5em 0.5em;
  // transform-origin: top;

  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  
  font-weight: 900;
  font-size: 1.5em;
  border-radius: 0.5em;
  // pointer-events: none;
  transition: background-color 1s;
  &:focus {
    background-color: var(--navy-dark);

    outline: none !important;
    // border: 0.25em solid var(--bg-xd);
  }
  &[contenteditable] {
    background-color: var(--navy-dark);
  }
}

.back-to-courses {
  position: fixed;
  
  top: calc(var(--header-height) + 1.65em);
  left: 1em;
  
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
  text-align: center;

  font-size: 1.5em;
  font-weight: 900;
  z-index: 10000;
  svg {
    z-index: 10000;
  }
}

.edit-button {
  position: fixed;
  display: inline-block;
  width: 4em;
  top: calc(var(--header-height) + 2.3em);
  left: calc(100vw - 6em);
  // vertical-align: baseline;
  // margin-top: -1em;
  padding: 0.4em 1em;
  outline: none;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  overflow: hidden;
  z-index: 1000;
  a {
    position: relative;
    display: inline-block;
  }
}

.reorder-button {
  position: fixed;
  display: inline-block;
  width: 6em;
  top: calc(var(--header-height) + 2.3em);
  left: calc(100vw - 13em);
  // vertical-align: baseline;
  // margin-top: -1em;
  padding: 0.4em 1em;
  outline: none;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  overflow: hidden;
  z-index: 1000;
  a {
    position: relative;
    display: inline-block;
  }
}


.course-view-container {
  display: inline-flex;
  grid-auto-flow: column;
  grid-auto-columns: calc(75% - var(--header-height) - 7.5em);

  // top: 7.5em;
  // align-items: center;
  align-items: flex-start;
  justify-content: center;
  // justify-content: flex-end;

  margin: 17em auto 0 auto;
  padding: 0 3em 0 3em;
  height: calc(100% - 17.5em);
  transition: all 1s;
}

.course-view-material-container {
  position: relative;

  margin: 0 1em 0 1em;

  // justify-content: center;
  // align-self: flex-start;
  // pointer-events: none;
  z-index: 12;
  transition: all 1s;
}
.course-view-material-container.draggable {
  position: relative;
  cursor: move;
  margin: 0 1em 0 1em;

  // justify-content: center;
  // align-self: flex-start;
  // pointer-events: none;
  opacity: 1;
  overflow: visible;
  z-index: 12;
}
.course-view-material-container.draggable.dragging {
  position: relative;
  cursor: move;
  margin: 0 1em 0 1em;
  padding: 1em;

  // justify-content: center;
  // align-self: flex-start;
  // pointer-events: none;
  opacity: 0.5;
  overflow: visible;
  z-index: 12;
}


.course-view-material {
  // display: block;

  width: 400px;
  height: auto;
  max-height: 25em;
  vertical-align: baseline;

  background-color: var(--bg-d);
  border: var(--bg-xd) 0.25em solid;
  border-radius: 1em;
  user-select: none;
  z-index: -20;
  transition: all 1s;
  &.transparent {
    background: transparent;
    border: transparent 0.25em solid;
    // box-shadow: none;
    user-select: none;
    
  }
}

.course-view-material-background {
  position: relative;
  width: 100%;
  height: 100%;

  top: -150px;
  box-shadow:  -11px 11px 35px var(--bg-xd);
  border: var(--bg-xd) 0.25em solid;
  // background-color: var(--bg-xl);
  border-radius: 1em;
  z-index: -21;
}

.course-view-header {
  position: absolute;
  width: 100%;

  top: -140px;

  text-align: center;
  user-select: all;
}

.course-view-subheader {
  position: absolute;
  width: 100%;

  top: -109px;

  text-align: center;
  color: var(--silver);
  user-select: none;
}

.fixed {
  position: fixed;
}

.icon-wrapper {
  display: contents;
  z-index: 20;
}

.course-view-icon.icon {
  position: absolute;
  width: 10em;
  height: 10em;

  left: 7.5em;
  margin: 0 auto;
  transform: translateY(-50%);
  transform-origin: center center;

  border: 0.5em var(--bg-xd) solid;
  background-color: #E9EAED;
  border-radius: 50%;
  z-index: 9999;
  overflow: hidden;
  user-select: none;
  
  img {
      position: relative;
      width: 90%;

      top: 50%;
      justify-content: center;
      align-self: center;
      transform-origin: center center;
      transform: translateY(-50%) scale(1.75, 1.75);
      
      z-index: 20;
      border-radius: 50%;
      
      cursor: pointer;
      transition: all 0.7s;
  }
  &:hover {
    img {
      width: 100%
    }
  }
}

.course-view-icon.screenshot {
  position: absolute;
  width: 15em;
  height: 10em;

  left: 5em;
  margin: 0 auto;
  transform-origin: center center;
  
  
  border-radius: 50%;
  user-select: none;
  
  // pointer-events: none;
  img {
      position: relative;
      height: 90%;

      transform: translateY(-50%);

      justify-content: center;
      align-self: center;
      transform-origin: center center;
      
      border-radius: 1em;
      transition: all 0.7s;
      cursor: pointer;
  }
  &:hover {
    img {
      height: 100%
    }
  }
}

.course-view-text {
  position: relative;
  vertical-align: top;
  // top: 5em;
  margin: 5.5em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  max-height: 17em;

  border-radius: 1em;
  line-height: 100%;
  
  text-align: left;
  font-size: var(--small);
  // user-select: all;
  pointer-events: auto;
  user-select: all;
  transition: background-color 1s;
  &:focus {
    background-color: var(--bg-xd);
    // outline-color: var(--bg-xd);
    outline: none !important;
    // border: 0.25em solid var(--bg-xd);
  }
  &[contenteditable] {
    background-color: var(--bg-xd);
    user-select: none;
  }
}

.animation-slider {
  width: 15%;
  position: fixed;
  left: calc(100vw - 15%);
  top: 50px;
  z-index: 100;
}

#course-material-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -21;
  user-select: none;
  height: calc(100%);
  min-width: 100%;
  overflow: visible;
}

[edit-course-mode] .delete-material-button {
  display: inline-block;
}

.delete-material-button {

  width: 7em;
  position: absolute;
  display: none;
  // z-index: -20;
  left: calc(50% - 3.5em);
  // top: 210px;
  top: calc(100%);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 0 0 0.5em 0.5em;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 1em;
  background-color: var(--bg-xd);
  pointer-events: auto;
  user-select: none;
}

[edit-course-mode] .add-material-container {
  // display: flex
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.add-material-container {
  display: flex;
  position: relative;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transform-origin: center center;
  transform: translateY(-50%);
  align-items: flex-start;

  margin: 0 1em 0 1em;
  z-index: 12;
  .add-material {
    position: relative;
    // display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #2A3D81;
    border-radius: 50%;
    // margin: auto auto;
    align-self: flex-start;
    
    // top: -7.5em;
    z-index: 1000;
    // transform: scale(0, 0);
    transform-origin: center center;
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.75);
    text-align: center;
    cursor: pointer;
    user-select: none;
    
    .add-material-inner {
      transition: all 0.3s ease-in-out;
      position: relative;
      background-color: #1C325E;
      width: 77%;
      height: 77%;
      margin: 0 auto;
      justify-content: center;
      align-self: center;
      transform-origin: center center;
      top: 50%;
      border-radius: 50%;
      transform: translateY(-50%);
      font-size: 4em;
      a {
        text-align: center;
        margin: 0 auto;
        line-height: 85%;
      }
    }
  }
  .add-material:hover {
    .add-material-inner {
      width: 85%;
      height: 85%;
      a {
        line-height: 89%;
      }
    }
  }
}



#add-material-view {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100vw;

  overflow: visible;
  // opacity: 0;
  pointer-events: none;
  height: 100%;
  z-index: 4;
}

.add-material-background {
  position: fixed;
  top: 6em;
  background: var(--navy);
  border-bottom: 10px solid var(--navy-dark);
  width: 100%;
  height: 7em;
  z-index: 1;
}

.add-material-title-container {
  width: 100%;
  margin: 0 auto;
  // z-index: ;
}

.back-to-course {
  position: fixed;
  
  top: 5.5em;
  left: 1em;
  
  pointer-events: auto;
  cursor: pointer;

  font-size: 1.5em;
  font-weight: 900;
  z-index: 1000;
}


.add-material-view-title {
  position: fixed;

  width: 100%;
  top: 6.5em;
  margin: 0em auto 0em auto;
  transform-origin: top;

  justify-content: center;
  word-wrap: break-word;
  
  font-weight: 900;
  font-size: 1.5em;
  pointer-events: none;
  z-index: 10;
  color: var(--yellow)
  // transform: scale(0.75, 0.75);
}

.add-material-view-header {
  position: fixed;

  width: 100%;
  top: 3.5em;
  margin: 0em auto 0em auto;
  transform-origin: top;

  justify-content: center;
  word-wrap: break-word;
  
  font-weight: 900;
  font-size: 2em;
  pointer-events: none;
  z-index: 10;
  // transform: scale(0.75, 0.75);
}

.add-material-grid {
  // z-index: 0;
  position: absolute;
  top: 26em;
  width: 100vw;
  height: 100%;
  overflow: visible;
  .session-category-grid {
    display: inline-grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    margin: 0 auto;
    grid-row-gap: 50px;
    grid-column-gap: -50px;
    
    left: 0;
    z-index: 0;
  }
}


#session-category-selector {
  position: relative;
  // display: flex;
  // grid-template-columns: repeat(5, 1fr);
  // grid-row-gap: 50px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: minmax(150px, 1fr);
  grid-row-gap: 50px;
  

  top: 12em;
  margin: 0 auto;
  z-index: 0;
  // width: 120%;

  // flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-overflow-scrolling: touch;
  .sessions-category {
    width: 15em;
    height: 5.2em;
    margin: auto;
    vertical-align: middle;
    flex: 0 0 auto;

    margin: 1em;

    border-radius: 0.75em;
    box-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.05) 
    inset, 0 -0.1em 0.1em rgba(0, 0, 0, 0.1) 
    inset, 0 -0.15em 0.15em rgba(0, 0, 0, 0.15) 
    inset, 0 -0.2em 0 rgba(0, 0, 0, 0.2) 
    inset, 0 0.2em 0.3em 0.1em rgba(56, 76, 148, 0.5);
    background-color: var(--yellow);

    h2 {
      font-size: 2em;
      font-weight: 900;
      line-height: 2.6em;
      color: var(--onyx);
    }
    
    &.electrical-category-selector {
      background-color: var(--yellow);
    }
    &.hydraulics-category-selector {
      background-color: var(--orange);
    }
    &.machinery-category-selector {
      background-color: var(--blood-orange);
    }
    &.mobile-category-selector {
      background-color: var(--orange);
    }
    &.stationary-category-selector {
      background-color: var(--yellow);
    }
    &.epiroc-category-selector {
      background-color: var(--yellow);
    }
  }
}


.grid-element {
  // margin: 2em;
  height: 250px;
  width: 325px;
  margin: 0 auto;
  z-index: 100;
  .grid-info {
    background: var(--bg-xd);
    // height: 12em;
    width: 20em;
    margin: 0 auto;
    border-radius: 0.5em;
    padding: 0 1em 1em 1em;
    .grid-background {
      
      position: relative;
      // top: -107.5px;
      
      display: block;
      z-index: -1;
      border-radius: 0.5em;
      margin: 0 auto;
    }
    .grid-image {
      position: relative;

      top: -2.5em;
      border: var(--bg-xd) 0.5em solid;
      border-radius: 50%;
      width: 5em;
    }
    
    .grid-title-container {
      position: relative;

      top: -0.75em;

      margin: -0.5em 0 0 0.5em 0;
      .grid-title {
        font-size: 1em;
      }
      .grid-subtitle {
        color: hsl(220, 15%, 80%);
      }
      .grid-materials-subtitle {
        color: var(--yellow);
        font-size: 1em;
      }
    }
  } 
  .grid-button-container {
    // position: relative;
    // top: -205px;
    width: 100%;
    z-index: 1;
    margin: 0.5em 0 0 0;
    // display: inline-block;
  }
}



.add-material-toggle {
  overflow: hidden;
  display: inline-block;
  font-size: 1em;
  width: 8em;
  height: 2.2em;
  border-radius: 4px;
  pointer-events: auto;
  margin: 0.3em 0 0.3em 0;
  position: relative;
  z-index: 1000;
  // overflow: hidden;
  // -webkit-tap-highlight-color: rgba(white, 0);
  cursor: pointer;
  .toggle-button {
    display: block;
    // display: inline-block;
    // margin-top: .3em;
    // margin-bottom: .3em;
    padding: .6em .8em;
    // border: 2px solid transparent;
    outline: none;
    // border-radius: 4px;
    line-height: 1; // If you don't have this, buttons will sometimes be different heights if they contain characters that aren't included in our subset version of Lato
    text-align: center;
    text-decoration: none; // Override <a> default
    color: white;
    
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(white, 0);

    & .green {
      background-color: var(--green);
    }
    & .blue {
      background-color: var(--bg-xl);
    }
  }
}

