// * {
//   margin: 0;
//   padding: 0;
// }

// Pages
// This Thing! USE WITH CAUTION
// font-size: 1vw;
body {
  // overflow-x: hidden;
  // overflow-y: auto;
  // scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;
}

[block-touch-scrolling] * {
  touch-action: none;
}

// .horizontal-scroll {
//   overflow-y: hidden;
//   overflow-x: auto;
// }

// .vertical-scroll {
//   overflow-y: auto;
//   overflow-x: hidden;
// }

a[not-clickable] {
  pointer-events: none;
}

// Course Listing

#listing {
  display: block;
  padding-bottom: 2em;
}

.title {
  margin: 1em auto 0;
  font-weight: 900;
  font-size: calc(1em + 1vw);
}
.subtitle {
  width: 80%;
  margin: 0 auto;
  color: var(--silver);
  font-size: calc(0.6em + 1vw);
}

.course {
  margin: calc(1.5em + 1vw) auto 0;
  width: calc(10em + 30vw);
  background-color: var(--bg-d);
  border-radius: calc(0.5em + 0.5vw);
  box-shadow:  -11px 11px 35px var(--bg-xd),
             11px -11px 35px var(--bg-l);
  overflow: hidden;
}

.course-title {
  padding: 0.5em 0;
  margin: 0 5%;

  line-height: 1;
  word-wrap: break-word;
  font-weight: 900;
  font-size: calc(1em + 1vw);
}

.text-grid-container {
  display: grid;
  grid-template-columns: auto auto;

  text-align: center;
  input[type=text] {
    grid-area: 1 / 1 / 2 / 3;
    grid-template-columns: auto auto;

    text-align: center;
    color: var(--mist);
    margin: 0.5em 10%;



    font-weight: 900;
    font-size: calc(1em + 1vw);
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid white;
    // outline: none; // TODO

  }
  input[type=text]::placeholder {
    color: var(--silver);
  }
}


.course-button {
  display: inline-block;
  width: calc(35% + 1vw);

  margin-bottom: -1.25em;
  padding: 0.5em 1em;
  border-radius: 0.4em;

  text-decoration: none;
  cursor: pointer;

  font-weight: 900;
  font-size: calc(0.7em + 1vw);
}
.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--bg-xl);
}

.course-bottom {
  display: flex;

  justify-content: space-between;
  background-color: var(--bg-xd);
  padding: calc(1em + 1.5vw) 1.5em calc(0.3125em + 1vw);

  font-weight: 700;
}

.left-meta, .right-meta {
  flex: 0 1 auto;
  font-size: calc(0.6em + 1vw);
}
.left-meta {
  text-align: left;
  color: #ffb900;
}
.right-meta {
  text-align: right;
  color: #e2e2e2;
}

// Course View

#course-view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.course-title-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: calc(4em + 2vw);
  top: var(--header-height);
  padding: 0 1em;

  background: var(--navy);
  border-bottom: 0.5em solid var(--navy-dark);
}

.course-view-title {
  flex: 1 1 100%;

  width: 0;
  margin: 0 1em;
  padding: clamp(0.25em, 0.1em + 2vw, 0.4em);
  border: none;
  border-radius: 0.5em;
  overflow: hidden;

  // outline: none; // TODO
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 900;
  font-size: calc(1em + 1vw);

  background-color: transparent;
  color: white;
  transition: background-color 1s;
  &:focus {
    background-color: var(--navy-dark);
  }
  &[readonly] {
    background-color: transparent;
  }
  &:not([readonly]) {
    background-color: var(--navy-dark);
  }
}

.back-to-courses {
  flex: 0 0 10rem;

  pointer-events: auto;
  cursor: pointer;
  user-select: none;

  text-align: left;
  font-size: calc(0.75em + 1vw);
  font-weight: 900;
  svg {
    display: inline-block;
  }
}


.course-admin-buttons {
  flex: 0 0 10rem;
  display: flex;
  justify-content: space-between;
}


.scroller {
  // flex: 1 1 100%;
  position: relative; // TODO: Do we need this?

  height: 100%; // TODO: Do we need this?

  overflow-x: auto;

  // display: grid;
  // grid-auto-flow: column;
  // grid-template-columns: repeat(auto-fit, calc(13em + 20vw));
  // grid-template-rows: 0.25fr 0.75fr;

  // grid-column-gap: 10px;
  // grid-row-gap: 25px;
  // background-color: #ffb900;

  // scroll-behavior: smooth;

  align-items: flex-start;
  // justify-content: center;

  padding: 0 50vw; // TODO: Tune this padding (or possibly move it to a different prop or different element) so that leftmost and rightmost course items sit nicely in the center of the screen, and the scroll position doesn't wiggle when toggling edit mode

}


[scroll-snapping] {
  scroll-snap-type: x mandatory;
}

.upper-row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: flex-end;


  // margin: 0 1em 0 1em;

  z-index: 12;
  // transition: all 1s;
  &.dragging {
    transition: none;
    // scroll-snap-align: none;
  }
}

.lower-row {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: calc(((5em + 4vw)/2));
}

.upper-row, .lower-row {
  transition: transform .7s cubic-bezier(.2, 1.1, .2, 1);
}

[current-route="reorder"] {
  .upper-row, .lower-row {
    transform: scale(.5)
  }
}

.item-top {
  flex: 1 0 calc(13em + 20vw);
  margin-left: calc(2em + 3em + 3vw);
  scroll-snap-align: center;

  &:first-child{
    margin-left: calc(1em + 3em + 3vw);
  }
}

.item-header {
  position: relative;
  width: auto;
  margin-top: calc(0.5em + 1vw);

  font-size: calc(1em + 1vw);
  font-weight: 900;


  text-align: center;
  user-select: all;
}

.item-subheader {
  width: 100%;
  font-size: calc(1em + 1vw);

  text-align: center;
  color: var(--silver);
  user-select: none;
}

.no-stuff-header {
  color: var(--bg-xd);
}

.item-bundle {
  display: flex;
  flex: 0 0 auto;

}

.item-card {
  position: relative;
  display: block;
  // height: auto;
  margin: 0 1em;
  // vertical-align: baseline;
  flex: 0 0 calc(13em + 20vw);
  align-self: start;
  background-color: var(--bg-d);
  border: var(--bg-xd) calc(0.1em + 0.2vw) solid;
  border-radius: calc(0.9em + 1vw);
  user-select: none;
  transition: background 0.5s 0.5s, border 0.5s 0.5s;

  &[transparent] {
    background-color: transparent;
    border: transparent calc(0.1em + 0.2vw) solid;
    user-select: none;
  }
  &:not(:has([is-editing])) {
    transition: background 0.5s, border 0.5s;
  }
}

.course-view-icon.icon {
  position: relative;
  width: calc(6em + 4vw);
  height: calc(6em + 4vw);

  top: calc(((-6em - 4vw)/2));
  margin: 0 auto;
  transform-origin: center center;

  border: 0.5em var(--bg-xd) solid;
  background-color: #E9EAED;
  border-radius: 50%;
  z-index: 9999;
  overflow: hidden;
  user-select: none;

  img {
      position: relative;
      width: calc(80% + 1vw);

      top: 50%;
      justify-content: center;
      align-self: center;
      transform-origin: center center;
      transform: translateY(-50%) scale(1.75, 1.75);

      z-index: 20;
      border-radius: 50%;

      cursor: pointer;
      transition: all 0.7s;
  }
  &:hover {
    img {
      width: 100%
    }
  }
}

.course-view-icon.screenshot {
  position: relative;
  height: calc(6em + 4vw);
  top: calc(((-6em - 4vw)/2));

  margin: 0 auto;
  transform-origin: center center;


  border-radius: 50%;
  user-select: none;

  img {
      position: relative;
      height: 90%;

      justify-content: center;
      align-self: center;
      transform-origin: center center;

      border-radius: 1em;
      transition: all 0.7s;
      cursor: pointer;
  }
  &:hover {
    img {
      height: 100%
    }
  }
}

.field-label {
  display: block;
  position: relative;

  top: calc((-7em - 4vw)/2);
  margin-left: calc(0.5em + 1vw);

  padding: calc(0.5em + 0.5vw) calc(0.5em + 0.5vw) calc(0.1em + 0.1vw) calc(0.5em + 0.5vw);
  align-self: start;
  justify-self: left;

  border-radius: 1em;
  line-height: 100%;

  box-sizing: border-box;

  resize: none;
  opacity: 1;

  font-size: calc(0.8em + 0.5vw);
  font-weight: 900;
  word-wrap: break-word;
  text-align: left;
  transition: opacity 0.5s 0.5s;

  &[transparent] {
    opacity: 0;
    user-select: none;
  }
}

.item-card:not(:has([is-editing])) > .field-label {
  transition: opacity 0.5s;
}

.field-text {
  position: relative;
  box-sizing: padding-box;
  width: 90%;

  margin: calc((-6em - 4vw)/2) calc(0.25em + 1vw) calc(0.25em + 1vw) calc(0.25em + 1vw);
  padding: calc(0.5em + 0.5vw);

  border-radius: 1em;
  line-height: 100%;
  overflow-y: hidden;

  resize: none;

  pointer-events: auto;
  user-select: all;
  font-size: calc(0.8em + 0.5vw);
  word-wrap: break-word;
  text-align: left;

  color: white;
  background-color: transparent;
  border: transparent;
  transition: background-color 0.5s 0.5s;

  &:focus {
    background-color: transparent;
    // outline-color: var(--bg-xd);
    // outline: none !important; // TODO
    // border: 0.25em solid var(--bg-xd);
  }
  &[readonly] {
    background-color: transparent;
  }
  &:not([readonly]) {
    background-color: var(--bg-xd);
    user-select: none;
  }
}

.item-card:not(:has([is-editing])) > .field-text {
  transition: background-color 0.5s;
}


#timeline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -21;
  user-select: none;
  height: calc(100%);
  min-width: 100%;
  overflow: visible;
}

.bar {
  position: relative;
  display: block;
  z-index: -1; // Needed because timeline-bar is a fake element

  div {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc((13em + 20vw)/2 + 1em + (3em + 3vw)/2 + 20px);
    height: 20px;
    border-radius: 10px;
    background: white;
    z-index: -1; // Needed because position: absolute
    transition: transform 1s ease-in-out;
  }

  &:first-of-type div {
    transform-origin: right;
  }
  &:last-of-type div {
    transform-origin: left;
  }

  &:not([is-editing]) {
    &:first-of-type div { transform: scaleX(0) }
    &:last-of-type div { transform: scaleX(0) }
  }
}

.item-card + .bar {
  div {
    left: calc(-1 * (13em + 20vw)/2 - 1em);
  }
}

.add-item-container + .bar {
  div {
    left: calc(-1 * (3em + 3vw)/2);
  }
}


.delete-item-button {
  position: absolute;
  width: 7em;

  left: calc((13em + 20vw)/2 - 3.5em);
  top: 100%;
  padding: 0.5em 1em;

  font-weight: 800;
  font-size: 1em;
  background-color: var(--bg-xd);
  border-radius: 0 0 0.5em 0.5em;
  text-decoration: none;
  pointer-events: none;
  cursor: pointer;
  opacity: 0;

  transition: transform 0.5s ease-in-out, opacity 0s 0.5s linear;
  transform: translateY(-100%);
  z-index: -1; // This makes it not clickable — maybe animation will help?
}


[is-editing].delete-item-button {
  pointer-events: auto;
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.5s 1s ease-in-out, opacity 0.5s 0.5s linear;
}



.add-item-container {
  opacity: 1;
  // transition: opacity 1s ease-in-out;
  animation: addItemOut 1s ease-in-out both;

  transform: scale(0, 0);
  transform-origin: center top;

  pointer-events: none;
  user-select: none;

  &[is-editing] {
    // opacity: 1;
    animation: addItemIn 1s ease-in-out both;
    pointer-events: auto;
  }

  .add-item {
    border-radius: 50%;

    transform: translateY(-50%);

    background-color: var(--bg-d);
    box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.75);
    cursor: pointer;

    .add-item-inner {
      position: relative;

      background-color: var(--bg-xd);
      border-radius: 50%;

      transform: scale(.77);

      transition: transform 0.3s ease-in-out;

      .add-item-link {
        display: block;

        // TODO: This sizing should be put on the SVG that will eventually go inside the list
        width: calc(3rem + 3vw);
        height: calc(3rem + 3vw);
        font-size: calc(3em + 3vw);

        line-height: 90%;

        color: white;
        text-decoration: none;

        transition: transform 0.3s ease-in-out;
      }
    }
  }
  .add-item:hover {
    .add-item-inner {
      transform: scale(.85);

      .add-item-link {
        transform: scale(.9);
      }
    }
  }
}

@keyframes addItemIn {
  0% {
    transform: scale(0,0);
  }
  75% {
    transform: scale(1.1, 1.1)
  }
  100% {
    transform: scale(1, 1);
  }

}
@keyframes addItemOut {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1)
  }
  100% {
    transform: scale(0,0);
  }

}


@media (max-width: 768px) {
  .item-top {
    margin-left: 2em;
    &:first-child{
      margin-left: 1em;
    }
  }
  .add-item-container {
    display: none;
  }
  .course-admin-buttons{
    display: none;
  }
  .back-to-courses {
    flex: 0 0 auto;
  }
}
